*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Prata", serif;
  --logo-font: "Princess Sofia", cursive;
}

.logotip {
  font-family: var(--logo-font);
  color: #009997;
}

nav > a {
  font-family: var(--main-font);
}

.number {
  font-family: var(--main-font);
}

.languageBorder {
  border: 1px solid #009997;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}
#socialMedia{
  display: block !important;
}
.contact__tarmoq__sarlavha{
  font-family: var(--main-font);  
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  color: #646464;
}

.linkHover {
  font-family: var(--main-font);
}

.linkHover:hover {
  color: #009997;
  text-shadow: 0.2px 0.2px 0.5px #000;
  transition: 0.2s;
}

.linkMainColor {
  font-family: var(--main-font);
  color: #009997;
}

.contactLink {
  color: #009997;
  font-family: var(--main-font);
}

.contactTitle {
  font-family: var(--main-font);
}

.contactMainTitle {
  font-family: var(--main-font);
}



@media(max-width:800px) {
  .footer__img{
    width: 100px;
  }
  .footer__a{
    font-size: 15px;
  }
  .footer__p{
    font-size: 15px;
  }
  }
  
  @media(max-width:715px) {
    .footer__div{
      flex-direction: column;
    }
    .footer__img{
      margin-top: 18px;
    }
    .footer__a{
      margin-top: 18px;
    }
  }
