*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Prata", serif;
  --logo-font: "Princess Sofia", cursive;
}

.logotip {
  font-family: var(--logo-font);
  color: #009997;
}

nav > a {
  font-family: var(--main-font);
}

.bgOfDiv {
  background-color: #fafafa;
}

#number {
  font-family: var(--main-font);
}

.languageBorder {
  border: 1px solid #009997;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}
.main__sarlavha{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  text-transform: uppercase;
  color: #000000;
}

.linkHover {
  font-family: var(--main-font);
}

.mainFont {
  font-family: var(--main-font);

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
 
  margin: 20px 0px;

}
.card__main{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
 
  text-align: center;
  
  color: #000000;
}
.card__main__a{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #009592;
  margin-top: 5px;
}

.video__section{
  background-image: url('../img/bg-vidio-group.png');
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
  min-height: 150vh;
}
.video__section__box h1{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
}
.video__section__box p{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}
.video__section__video__box{
  /* background-image: url('../img/chopon1.png'); */
 
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 473px;
}
.video__section__video__box div{
  transform: translateX(-30px);
}
.video__section__second__img{
  width: 300px;
  margin-top: -40px;
  transform: translateX(350px);
  height: 300px;
}

.__qator1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.__qator9 {
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.__qator2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}
.__qator3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis; 
}

.linkMainColor {
  font-family: var(--main-font);
  color: #009997;
}

.linkHover:hover {
  color: #009997;
  text-shadow: 0.2px 0.2px 0.5px #000;
  transition: 0.2s;
}

/* ========================== */
html,
body {
  position: relative;
  height: 100%;
}

#swiper {
  background-image: url("../img/milliy-bg-yashil.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #068684;
}

.swiper {
  height: 400px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  height: 250px;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 20px;
}
#paginator{
  display: none;
}
.linkMainColor{
  margin-top: 30px;
}

@media(max-width:1318px) {
  .video__section__second__img{
    transform: translateX(300px);
  }
  .video__section{
      min-height: 200vh !important;
  }
@media(max-width:1290px) {
  .video__section__second__img{
    transform: translateX(300px);
  }
  .video__section{
      min-height: 200vh !important;
  }
}
@media(max-width:1210px) {
  .video__section__second__img{
    transform: translateX(250px);
  }
}
@media(max-width:1110px) {
  .video__section__second__img{
    transform: translateX(200px);
  }
}
@media(max-width:1018px) {
  .video__section__second__img{
    transform: translateX(150px);
  }
}
@media(max-width:914px) {
  .video__section__second__img{
    transform: translateX(100px);
  }
}
@media(max-width:814px) {
  .video__section__second__img{
    transform: translateX(50px);
  }
}
@media(max-width:768px) {
  .video__section__second__img{
    display: none;
  }
  .video__section{
   
    min-height: 180vh;
  }
  .video__section__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video__section__megaBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:418px){
  .video__section{
  
    min-height: 200vh !important;
  }
  .video__section__box h1{
   
    font-size: 30px;
    line-height: 40px;
  
  }
  .video__section__box p{
   
    font-size: 14px;
    line-height: 27px;
  }
  .video__section__box{
    width: 280px !important; 
    height: 400px !important;
  }
  .video__section__video__box{

    width: 280px !important;
    height: 403px !important;
  }
  .video__section__video__Megabox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .video__section__video__box__btn{
    width: 40px !important;
    height: 40px !important;
  }
  .video__section__video__box div{
    transform: translateX(-20px);
  }
  .video__section__video__box__btn{
    height:40px; 
    width: 40px;
  }
  .video__section__second__img{
    width: 300px;
    margin-top: -40px;
    transform: translateX(350px);
    height: 300px;
  }
}


@media(max-width:500px) {
  .swiper__btn{
    display: none;
  }
  #paginator{
    display: block;
  }
.swiper__card__text{
  width: 80%;
  margin: 0 auto;
}
  #swiper div > div{
    width: 100%;
  }
  #swiper div {
    width: 90%;
  }
  .mainFonts {
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0px;
  }
}
@media(max-width:400px) {
  .mainBtn{
    padding: 8px 30px;
    margin-bottom: 30px !important;
  }
  .eto__intersno{
    font-size: 25px !important;
  }
}
@media(max-width:800px) {
  .footer__img{
    width: 100px;
  }
  .footer__a{
    font-size: 15px;
  }
  .footer__p{
    font-size: 15px;
  }
  }
  
  @media(max-width:715px) {
    .footer__div{
      flex-direction: column;
    }
    .footer__img{
      margin-top: 18px;
    }
    .footer__a{
      margin-top: 18px;
    }
  }
@media(max-width:1098px){
    .abs__img__2{
      right: 6%;
    }
}
/* 878 */
@media(max-width:942px){
  .abs__img__2{
   display: none;
  }
}