*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Prata", serif;
  --logo-font: "Princess Sofia", cursive;
}

body {
  background-color: #fafafa;
}

header {
  background-color: #fff;
}

footer {
  background-color: #fff;
}

.logotip {
  font-family: var(--logo-font);
  color: #009997;
}

nav > a {
  font-family: var(--main-font);
}

#number {
  font-family: var(--main-font);
}

.languageBorder {
  border: 1px solid #009997;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
}

.languageBorder:hover {
  border-radius: 100%;
}

.linkHover {
  font-family: var(--main-font);
}

.linkMainColor {
  font-family: var(--main-font);
}

.linkHover:hover {
  color: #009997;
  text-shadow: 0.2px 0.2px 0.5px #000;
  transition: 0.2s;
}

#section__inner {
  background-image: url("../../Media/milliy-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainFont {
  font-family: var(--main-font);
  color: #009997;
}

.swiper {
  height: 300px;
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#others {
  background-image: url("../../Media/milliy-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
